/* Profile */
#home {
  top: 0;
  height: 120px;
}

.navbar {
  z-index: 1000;
}
.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
  flex: 1;
}

.profile-container img {
  width: 80%;
  max-width: 500px;
  height: auto;
  border-radius: 45%;
}

.profile-container h1 {
  font-size: 3rem;
}

.profile-container .subheading {
  font-size: 1.25rem;
  color: gray;
}

/* About */
#about {
  height: 120px;
}

/* Projects */
#projects {
  height: 120px;
}

.carousel-item {
  position: relative;
}

.carousel-item img {
  width: 100%;
  height: 400px;
  object-fit: contain;
  border: 5px solid black;
  border-radius: 10px;
}

.carousel-caption {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border-radius: 5px 5px 0 0;
  text-align: center;
}

.carousel-inner {
  height: 450px;
}

/* Cards  */
.card-img-top {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card {
  height: 550px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.card-body .btn {
  width: auto;
}

/* Skills  */
#skills {
  height: 120px;
}

.card:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease-in-out;
}
